{% extends 'base.html' %}
{% block content %}
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card rounded-1" id="card">
            <div class="card-header rounded-0" id="card-header">
                <div class="cart-title">
                    <h5 class="card-title">{{sub_title}}</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="activityTable" class="table table-striped table-bordered table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col" class="py-1">#</th>
                                <th scope="col" class="py-1">Naran Kiente</th>
                                <th scope="col" class="py-1 text-center">Total Empresta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td class="py-1">{{forloop.counter}}</td>
                                <td class="py-1"><a href="{% url 'empresta' i.id_kliente %}"
                                        class="text-decoration-none">{{i.naran_kliente}}</a></td>
                                <td class="py-1 text-center">{{i.total_emp}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}